.open-drawer{
    z-index: 1000;
    animation: fade-in 600ms;
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    box-shadow: rgba(204, 204, 204, 0.5) 2px 0px 5px 1px;

    .drawer-button{
        margin-top: 10px;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        background-image: url("../../../../assets/icons/drawer-icon.png");
        background-size: cover;
        border: 0;
        background-color: transparent;
    }

    .open-drawer-main-box{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 10px;
        padding-bottom: 70px;
        
        div:nth-child(1){
            height: 150px;
            border: 0;
            border-bottom: rgba(204, 204, 204, 0.5) 2px;
            border-style: solid;
            display: flex;
            align-items: center;

            li{
                display: flex;
                flex-direction: row;
                align-items: center;

                list-style: none;
                padding-left: 30px;

                img{
                    width: 80px;
                }
                
                h4{
                    color: #666;
                    font-weight: 600;
                    font-size: 20px;
                    margin-left: 7px;
                }
                
            }
        }

        div:nth-child(2){
            ul{
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                padding-left: 10;

                .link{
                    text-decoration: none;
                    width: 100%;
                }

                li{
                    list-style: none;
                    padding-left: 30px;
                    width: 90%;
                    border-radius: 20px;
                    transition: 600ms;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    img{
                        width: 30px;
                    }

                    h6{
                        transition: 400ms;
                        text-decoration: none;
                        color: #666;
                        margin-left: 15px;
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }

                li:hover{
                    background-color: rgba(204, 204, 204, 0.5);
                    transition: 600ms;
                    padding: 5px;
                    padding-left: 15px;
                    h6{
                        transition: 400ms;
                        color: #74B05C;
                    }
                }

                li:active{
                    transition: 600ms;
                    background-color: #74B05C;

                    h6{
                        color: white;
                    }
                }

                .dropdown{
                    animation-name: resize-down;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;

                    div{
                        display: none;
                        position: absolute;
                        top: 30px;
                    }
                }
                .dropdown:active{
                    background-color: rgba(204, 204, 204, 0.253);
                    h6{
                        color: #74B05C;
                    }
                }

                .dropdown:hover{
                    animation-name: resize-up;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    align-items: flex-start;
                    background-color: rgba(204, 204, 204, 0.253);

                    .dropdown-content{
                        width: 90%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        .dropdown-itens{
                            transition: 400px;
                            padding-left: 45px;
                            width: 100%;
                            text-align: start;
                            text-decoration: none;
                            color: #666;
                            font-size: 15px;
                            margin-bottom: 3px;
                        }

                        .dropdown-itens:active{
                            animation: swap-color 600ms;
                            background-color: #74B05C;
                            color: #ffffff;
                            border-radius: 10px;
                        }

                        .dropdown-itens:hover{
                            animation: swap-color 600ms;
                            background-color: #74B05C;
                            color: #ffffff;
                            border-radius: 10px;
                        }

                        @keyframes swap-color{
                            from{
                                background-color: transparent;
                            }
                            to{
                                background-color: #74B05C;
                            }
                        }
                    }
                }

                @keyframes resize-up {
                    from{
                        height: 50px;
                    }
                    to{
                        height: 200px;
                    }
                }

                @keyframes resize-down {
                    from{
                        height: 200px;
                    }
                    to{
                        height: 50px;
                    }
                }
            }
        }

        div:nth-child(3){

            display: flex;
            justify-content: center;
            align-items: center;
            ;

            button{
                border-radius: 100px;
                width: 80%;
                height: 35px;
                border-width: 1.5px;
                background-color: white;
                border-color: #74B05C;
                font-size: 13px;
                color: #666;
                transition: 800ms;
            }
    
            button:hover{
                box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 10px 3px;
                transition: 600ms;
                background-color: #74B05C;
                color: white;
                border: none;
            }
            button:active{
                box-shadow: none;
            }
        }
    }
}

.closed-drawer{
    width: 30px;
    height: 30px;
    position: fixed;
    left: 0;
    
    .drawer-button{
        margin-top: 10px;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        background-image: url("../../../../assets/icons/drawer-icon.png");
        background-size: cover;
        border: 0;
        background-color: transparent;
    }
}

@keyframes fade-in{
   from {opacity: 0;}
   to {opacity: 1;}
}