.header{
    z-index: 1000;
    width: 100%;
    height: 65px;
    position: fixed;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 5px 1px;
   

    div{
        height: 65px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //background-color: #666;
        
        img{
            width: 40px;
        }

        h4{
            font-size: 10px;
            font-weight: 700;
            color: #666;
            text-align: center;
        }
    }

    ul{
        height: 65px;
        width: 70%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .link{
            text-decoration: none;
        }

        li{
            list-style: none;
            text-decoration: none;
            color: #666;
            font-size: 15px;
            transition: 600ms;
        }
        li:hover{
            color: #74B05C;
            transition: 400ms;
        }

        .menu-dropdown{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 65px;

            .menu-dropdow-content{
                display: none;
            }
        }

        .menu-dropdown:hover{
            animation-name: fade-in;
            animation-duration: 600ms;
            animation-fill-mode: forwards;
            display: flex;
            flex-direction: column;
            align-items: center;

            .menu-dropdow-content{
                z-index: 1001;
                position: absolute;
                top: 65px;
                display: flex;
                justify-content: center;
                width: 170px;
                height: 180px;
                padding: 10px;
                background-color: #fff;
                box-shadow: rgba(204, 204, 204, 0.5) 0px 20px 15px 1px;
                border-radius: 0px 0px 10px 10px;

                .dropdown-menu-itens{
                    transition: 400px;
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    text-decoration: none;
                    color: #666;
                    font-size: 14px;
                    margin-bottom: 3px;
                }

                .dropdown-menu-itens:active{
                    background-color: #666;
                    color: #ffffff;
                    border-radius: 10px;
                }

                .dropdown-menu-itens:hover{
                    transition: 400ms;
                    animation: swap-color 600ms;
                    background-color: #74B05C;
                    color: #ffffff;
                    border-radius: 10px;
                    padding-top: 3px;
                    transform: scale(1.05);
                }

                @keyframes swap-color{
                    from{
                        background-color: transparent;
                    }
                    to{
                        background-color: #74B05C;
                    }
                }
            }
        }

        @keyframes resize-up {
            from{
                height: 50px;
            }
            to{
                height: 180px;
            }
        }

        @keyframes resize-down {
            from{
                height: 200px;
            }
            to{
                height: 50px;
            }
        }

        @keyframes fade-in{
            from {opacity: 0;}
            to {opacity: 1;}
         }
    }

    div:last-child{
        height: 60px;
        display: flex;
        justify-content: center;

        button{
            border-radius: 100px;
            width: 110px;
            height: 35px;
            border-width: 1.5px;
            background-color: white;
            border-color: #74B05C;
            font-size: 13px;
            color: #666;
            transition: 800ms;
        }

        button:hover{
            box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 10px 3px;
            transition: 600ms;
            background-color: #74B05C;
            color: white;
            border: none;
        }
    }
}