.fullPageBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    //background-color: black;
    

    div:first-child{
        width: 70%;
        //background-color: #666666;
        img{
            width: 95%;
            border-radius: 18px;
        }
    }
    div:last-child{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 40px;
        //background-color: blue;

        h1{
            color: #74B05C;
            font-weight: 500;
            font-size: 20px;
            
        }
        h2{
            color: #666666;
            font-weight: 300;
            font-size: 1vw;
            padding-top: 10px;
            overflow-y: hidden;
            text-align: justify;
        }
    }
}

@media screen and (max-width:900px) {
    img{
        width: 50px;
    }
}

/*@media screen and(orientation: portrait) {
    .fullPageBox{
        width: 98%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #74B05C;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
    
        div:first-child{
            width: 100%;
            margin-top: 20px;
            img{
                width: 97%;
                border-radius: 18px;
            }
        }
        div:last-child{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 30px;
            padding-left: 30px;
    
            h1{
                color: #ffffff;
                font-weight: 500;
                font-size: 20px;
                padding-top: 10px;
                top: 10px;
                
            }
            h2{
                color: #ffffff;
                font-weight: 300;
                font-size: 17px;
                padding-top: 10px;
                overflow-y: hidden;
                text-align: justify;
            }
        }
    }
    
}*/