.fullPageBox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    transition: 500ms;

    div:first-child{
        width: 70%;
        //background-color: #666666;
        img{
            width: 95%;
            border-radius: 18px;
            transition: 500ms;
        }
    }
    div:last-child{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 40px;
        max-height: 45vw;
        overflow: hidden;
        text-overflow: ellipsis;

        h1{
            color: #74B05C;
            font-weight: 500;
            font-size: 20px;
            
        }
        p{
            color: #666666;
            font-weight: 300;
            font-size: 15px;
            padding-top: 0px;
            overflow-y: hidden;
            text-align: justify;
        }
    }
}

.fullPageBox:hover{
    width: 99%;
    padding-left: 1%;
    transition: 500ms;
    img{
        box-shadow: #666 0px 0px 5px 1px;
    }

    
}


@media screen and(orientation: portrait) {
    .fullPageBox{
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        border-radius: 20px 20px 0 0;
        box-shadow: #666 5px 10px 10px 10px ;
    
        div:first-child{
            width: 100%;
            margin-top: 20px;
            img{
                width: 97%;
                border-radius: 18px;
            }
        }
        div:last-child{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 30px;
            padding-left: 30px;
            max-height: max-content;
    
            h1{
                color: #74B05C;
                font-weight: 500;
                font-size: 20px;
                padding-top: 10px;
                top: 10px;
                
            }
            p{
                color: #666;
                font-weight: 300;
                font-size: 17px;
                padding-top: 10px;
                overflow-y: hidden;
                text-align: justify;
            }
        }
    }
    
}