.section-page
    margin-top: 15vh
    margin-bottom: 100px

.main-box
    display: flex
    flex-direction: column

.row-card
    justify-content: space-between

.title-col
    margin-top: 75px

.title-card
    font-size: 18px
    color: #666666
    margin-bottom: 24px
    font-weight: 400

.description-card
    font-size: 14px
    color: #666666
    margin-bottom: 70px
    font-weight: 300

.title-card.right, .description-card.right, .title.right, .subtitle.right
    text-align: right 

.subtitle.right
    margin-block: 28px

.justify-content-md-center
    margin-top: 30px
    justify-content: center

.item-grid
    transition: 400ms
    border-radius: 20px

.item-grid:hover
    cursor: pointer
    transform: scale(1.005)
    box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 5px 1px
    transition: 400ms

.grid-row
    text-align: center

.grid-title
    font-weight: 500
    color: #666666
    font-size: 35px

.title.right
    font-size: 68px