.row-card
    justify-content: space-between
    
.title-card
    font-size: 18px
    color: #666666
    margin-bottom: 24px
    font-weight: 400

.description-card
    font-size: 14px
    color: #666666
    margin-bottom: 70px
    font-weight: 300

.title-card.right, .description-card.right, .title.right, .subtitle.right
    text-align: right 

.subtitle.right
    margin-block: 28px

.item-grid
    transition: box-shadow 0.2s

.item-grid:hover
    cursor: pointer
    box-shadow: 0px 0px 8px 1px #a8a8a8
