* 
    margin: 0
    padding: 0
    
.main-header 
    height: 120vh
    background-image: url('../../../assets/images/info_banner_background.png')
    background-size: cover
    overflow-x: hidden

    .main-content
        padding-top: 100px
        padding-left: 3%
        width: 45%

        h2
            font-size: 70px
            color: #74B05C
            margin-bottom: 5%

        p
            color: #666666
            text-align: justify
            font-size: 18px

.donation-content
    height: 100vh
    display: flex
    margin-top: 5%
    margin-inline: 3%

    .donation-info
        width: 45%
        display: block

        h3
            font-size: 40px
            color: #666666
            margin-bottom: 15%

        img
            height: 70%

    .donation-itens
        width: 55%
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-block: 2%

.instruction-content
    margin: 4%
    display: flex
    flex-direction: column

    h3
        text-align: center
        font-size: 40px
        color: #666666
        margin-bottom: 5%

    .instruction-itens
        flex-direction: row
        display: flex
        flex: 1
        justify-content: space-between


@media screen and (orientation : portrait) 

    .main-header 
        display: flex
        flex-direction: row
        height: 700px
        width: 100%
        background-image: url('../../../assets/images/info_banner_background.png')
        background-color: white
        background-size: contain
        background-repeat: no-repeat
        background-position-y: bottom
        overflow-x: hidden
        margin: 0
        padding: 0

        .main-content
            width: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: start
            padding-left: 15px
            padding-right: 15px
        
            h2
                text-align: center
                color:#74B05C
                font-weight:500
                font-size: 2rem
                margin-top: 0px
                margin-bottom: 60px

            p
                text-align: center
                color:#666
                font-weight:300
                font-size: 1.2rem
                width: 100%
    
    .donation-content
        height: 100vh
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin: 0
        margin-top: 10%
        
        .donation-info
            width: 100%
            margin: 0
            display: flex
            justify-content: center

            h3
                width: 100%
                text-align: start
                color:#666
                font-weight:500
                font-size: 2rem
                margin-top: 20px
                margin-bottom: 40px
                padding-left: 2%

            img
                height: 20%
                display: none

        .donation-itens
            width: 94%
            height: 80vh
            display: flex
            flex-direction: column
            justify-content: space-evenly
        
    .instruction-content
        display: flex
        flex-direction: column
        padding-bottom: 50px

        h3
            width: 100%
            text-align: start
            color:#666
            font-weight:500
            font-size: 2rem
            margin-top: 20px
            margin-bottom: 40px
            padding-left: 2%

        .instruction-itens
            flex-direction: column
            display: flex
            justify-content: space-between
            

@media screen and (max-width: 800px) 
    .donation-content
        height: 100vh
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin: 0
        margin-top: 10%
        margin-bottom: 8vh
        
        .donation-info
            width: 100%
            margin: 0
            display: flex
            justify-content: center

            h3
                width: 100%
                text-align: start
                color:#666
                font-weight:500
                font-size: 2rem
                margin-top: 20px
                margin-bottom: 40px
                padding-left: 2%

            img
                height: 20%
                display: none

        .donation-itens
            width: 94%
            height: 80vh
            display: flex
            flex-direction: column
            justify-content: space-evenly

@media screen and (max-width: 650px) 
    .instruction-content
    display: flex
    flex-direction: column
    padding-bottom: 50px

    h3
        width: 100%
        text-align: start
        color:#666
        font-weight:500
        font-size: 2rem
        margin-top: 20px
        margin-bottom: 40px
        padding-left: 2%

    .instruction-itens
        flex-direction: column
        display: flex
        justify-content: space-between
