*{
    padding: 0;
    margin: 0;
}

.main-box-intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    div:first-child{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 3vw;

        h1{
            text-align: start;
            color:#666;
            font-weight:500;
            font-size: 4.5vw;

        }
        h2{
            text-align: start;
            color:#666;font-weight:300;
            font-size: 1.2rem;//1.3vw;
            margin-bottom: 30px;
        }
    }

    div:last-child{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            width: 80%;
            max-width: 800px;
        }
    }
    
}

@media screen and(orientation: portrait) {

    .main-box-intro{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div:first-child{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
    
            h1{
                text-align: center;
                color:#666;
                font-weight:500;
                font-size: 2rem;
    
            }
            h2{
                text-align: center;
                color:#666;font-weight:300;
                font-size: 1.2rem;
                margin-bottom: 30px;
            }
        }
    
        div:last-child{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            img{
                width: 80%;
            }
        }
        
    }
    
}
