.main-container
  margin: 0px
  padding: 0px

.info-container
  margin: 0%
  width: 100vw

.right-column
  margin-left: 7%
  padding: 10px
  background-image: linear-gradient(to right, #FFFFFF, #DFE9E8)
  display: flex
  align-items: center

.info-text
  color: rgba(102, 102, 102, 1)
  font-size: 64px
  text-align: initial

.info-image
  padding: 0px